*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-image: url(assets/nsplsh_221412f3e2cf42439d37d46617358330~mv2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  max-width: 100vw;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-style: normal;
}

img,
video {
  height: auto;
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: lighter;
}

button {
  outline: none;
}
.section-container {
  width: 90%;
  margin: auto;
  padding-block: 70px;
}

/* homepage */
/* nav */
header {
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  background-image: url(assets/ironpatern.84ec58ff.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  nav {
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .nav_text {
      h1 {
        font-size: 3rem;
        text-decoration: underline;
      }
      h2 {
        font-size: 1.5rem;
        padding-top: 10px;
      }
    }
    .nav_links {
      ul {
        list-style: none;
        display: flex;
        gap: 10px;
        font-size: 1.2rem;
        li {
          padding-inline: 10px;
          border-right: 1px solid rgb(255, 255, 255);
          &:last-child {
            border: none;
          }
        }
      }
    }
    .nav_social {
      display: flex;
      gap: 10px;
      a img {
        width: 30px;
      }
    }
  }
}
.section-container h2 {
  font-size: 3rem;
  text-decoration: underline;
  padding-bottom: 1rem;
}

/* image slider */
/* heading */
h3 {
  text-align: center;
}
/* slider container */
.slider {
  padding: 0px;
  position: relative;
  margin: 0px auto;
  width: 80%;
  max-width: 100%;
}
/* image */
.slide-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  padding: 10px;
  margin: 0 auto;
}
.btn {
  position: absolute;
  top: 50%;
  width: 60px;
  cursor: pointer;
}
/* prev btn */
.backward {
  left: 0px;
}
/* next btn */
.forward {
  right: 0px;
}
.slide_bottom {
  display: flex;
  gap: 10px;
  justify-content: center;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    &:hover {
      filter: grayscale(0) !important;
    }
  }
}

/* reels video */
#Reel_section div {
  display: flex;
  flex-direction: column;
}
.video-wrapper {
  position: relative;
  width: 80%;
  align-self: center;
}

.video-wrapper > video {
  width: 100%;
  vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
  display: none;
}

.video-overlay-play-button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px calc(50% - 50px);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.95;
  cursor: pointer;
  background-image: linear-gradient(transparent, #000);
  transition: opacity 150ms;
}

.video-overlay-play-button:hover {
  opacity: 1;
}

.video-overlay-play-button.is-hidden {
  display: none;
}

/* illlustraction */

.slide_wrap {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
}
.slide_show {
  width: 860px;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  max-width: 90%;
}
.slide_show .slide_img {
  width: 5000px;
  overflow: hidden;
}

.slide_img img {
  border-radius: 5px;
}
.slide_show .slide_img > div {
  float: left;
  width: 280px;
  padding: 5px;
}

.slide_btn img {
  position: absolute;
  width: 30px;
  top: 50%;
}
.slide_btn a:hover {
  background: rgba(255, 255, 255, 0.3);
}
.slide_btn .prev {
  left: 10px;
}
.slide_btn .next {
  right: 10px;
}
/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer_social {
    display: flex;
    gap: 10px;
    a img {
      width: 35px;
    }
  }
}

.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-image span {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 70%;
  max-width: 550px;
  height: 80%;
  object-fit: fill;
}
.popup-image h2 {
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 0;
}

.popup-image .prev,
.popup-image .next {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  padding: 20px;
  transform: translateY(-50%);
  user-select: none;
}

.popup-image .prev {
  left: 20px;
}
.popup-image .next {
  right: 20px;
}
